.navbar{
    padding: 0px;
}

.navbar-toggler{
    margin: 12px;
}

.navbar-brand{
    color: black;
    margin: 12px;
}

.navbar-brand:hover{
    color: black;
}

.nav-link{
    color: black !important;
}

.padding{
    padding: 8px;
    margin: 0;
}

.nav-item{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.nav-sushi{
    border-bottom: 1px solid black;
}

.menu{
    padding: 30px;
    padding-top: 5px;
}

.menu-items{
    margin-bottom: 20px;
    background-color: lightgray;
    height: 500px;
}